/* font (make sure to ctrl+shift+r) */

@font-face {
    font-family: 'Zed';
    src: url('zed-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zed';
    src: url('zed-sans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Zed';
    src: url('zed-sans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Zed';
    src: url('zed-sans-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


.name, h2, h3 {
    font-family: 'Lora', serif;
}

p, a, ul {
    font-family: 'Zed', sans-serif;
    font-size: 16px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}
h2 {
    font-size: 28px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    font-weight: normal;
}

/* colors  https://rosepinetheme.com/palette/ */

html {
    background-color: #faf4ed;
}

.name, h2, h3 {
    color: #286983;
}

p, a, ul {
    color: #575279;
}

.main {
    background-color: #fffaf3;
    border-color: #797593;
}

nav {
    background-color: #f2e9e1;
    border-color: #797593;
}

article {
    border-color: #797593;
}

.horizontal-bar {
    border-color: #286983;
}

/* layout */

html {
    height: 100%;
    overflow: auto;  /* Enable scrolling on the html element */
    margin: 0;       /* Remove any default margin on html */
    padding: 0;      /* Remove any default padding on html */
}

body {
    display: flex;
    flex-direction: column;  /* Align children vertically */
    justify-content: center; /* Center the body vertically */
    margin: 0 auto; /* Horizontally center the body */
}

.main {
    overflow: auto;
    scroll-behavior: smooth;

    padding: 20px;
    min-height: 100%;
    margin-top: 10px;

    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

nav {
    text-align: right;

    position: sticky;
    top: 0px;
    padding: 10px 20px;
    width: 100%;
    height: 35px;

    border-radius: 0px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}

header, section {
    width: 100%; /* Make sure each section takes full width */
    scroll-margin-top: 35px;
}

section {
    text-align: left;
}

header {
    text-align: right;
}

article {
    margin-left: 7px;
    margin-right: 7px;

    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

footer {
    text-align: center;
}

svg {
    position: fixed; /* Position the SVG behind all content */
    top: 0;
    left: 0;
    width: 100vw;   /* Full width of the viewport */
    height: 100vh;  /* Full height of the viewport */
    z-index: -1;    /* Place it behind other elements */
}

/* .top-image-container {
    width: 100%;
    height: 200px;   
    overflow: hidden;

    margin-bottom: 20px;
} */

.top-image {
    width: 100%;   /* Make the image take up the full width */
    height: 200px;  /* Make the image take up the full height */
    object-fit: cover; /* Crop the image without distorting it */
    margin-bottom: 20px;
    object-position: 50% 30%;
}

.proj-image {
    width: 128px; 
    height: 128px;
    object-fit: cover; /* Crop the image without distorting it */
}

.proj-container {
    display: flex;         /* Use Flexbox to lay out the items */
    justify-content: flex-start; /* Align items at the start */
    align-items: center;   /* Vertically center the items */
    gap: 8px;             /* Space between the image and the text */
}

.proj-image-container {
    width: 150px;          /* Set a fixed width for the image */
    height: auto;          /* Keep aspect ratio */
    flex-shrink: 0;          /* Prevent image from shrinking */
}

.proj-blurb-container {
    flex-grow: 1;          /* Allow the text to take up remaining space */
}

.icon {
    width: 32px; 
    height: 32px;
    object-fit: cover; /* Crop the image without distorting it */
}

/* For smaller screens (below 600px), reduce the max-width */
@media (max-width: 1000px) {
    body {
        width: 700px;   /* Adjust to 90% of the screen width */
        padding-left: 7px;
        padding-right: 7px;
    }
    /* header, section {
        margin-left: 7px;
        margin-right: 7px;
    } */
    /* .proj-container {
        flex-direction: column;
        align-items: center;    
    }

    .proj-image-container {
        width: 100%;            
        max-width: 300px;       
    }

    .proj-blurb-container {
        text-align: center;     
    } */
}

/* For larger screens, retain the max-width as 1200px */
@media (min-width: 1000px) {
    body {
        width: 1000px;  /* 1200px max-width */
        padding-left: 20px;
        padding-right: 20px;
    }
    /* header, section {
        margin-left: 20px;
        margin-right: 20px;
    } */
}


/* custom CSS components */

.horizontal-bar {
    /* position: absolute; */
    /* width: 80%; */
    height: 0px;       /* Set the height of the bar */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-left: -5px;
    margin-top: -15px;
    margin-bottom: 15px;
}
