h1, h2, h3 {
    font-family: 'Lora', serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;  /* Align children vertically */
    justify-content: center; /* Center the body vertically */
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto; /* Horizontally center the body */
    min-height: 100%;
}

header, footer, section {
    text-align: left;  /* Ensure text is aligned to the left */
    width: 100%; /* Make sure each section takes full width */
}
