/* font (make sure to ctrl+shift+r) */

@font-face {
    font-family: 'Zed';
    src: url('zed-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zed';
    src: url('zed-sans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Zed';
    src: url('zed-sans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Zed';
    src: url('zed-sans-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


h1, h2, h3 {
    font-family: 'Lora', serif;
}

p, a, ul {
    font-family: 'Zed', sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 49px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}

/* colors  https://rosepinetheme.com/palette/ */

html {
    background-color: #faf4ed;
}

.main {
    background-color: #fffaf3;
    border-color: #797593;
}

nav {
    background-color: #f2e9e1;
    border-color: #797593;
}

.horizontal-bar {
    background-color: #56949f;
}

/* layout */

html {
    height: 100%;
    overflow: auto;  /* Enable scrolling on the html element */
    margin: 0;       /* Remove any default margin on html */
    padding: 0;      /* Remove any default padding on html */
}

body {
    display: flex;
    flex-direction: column;  /* Align children vertically */
    justify-content: center; /* Center the body vertically */
    width: 100%;
    margin: 0 auto; /* Horizontally center the body */
}

.main {
    overflow: auto;
    scroll-behavior: smooth;

    padding: 20px;
    min-height: 100%;
    margin-top: 10px;

    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

nav {
    text-align: right;

    position: sticky;
    top: 0px;
    padding: 10px 20px;
    width: 100%;
    height: 35px;

    border-radius: 0px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}

header, section {
    text-align: left;  /* Ensure text is aligned to the left */
    width: 100%; /* Make sure each section takes full width */
}

article {
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    text-align: center;
}

/* For smaller screens (below 600px), reduce the max-width */
@media (max-width: 1000px) {
    body {
        max-width: 90%;   /* Adjust to 90% of the screen width */
    }
    header, section {
        margin-left: 7px;
        margin-right: 7px;
    }
}

/* For larger screens, retain the max-width as 1200px */
@media (min-width: 1000px) {
    body {
        max-width: 1000px;  /* 1200px max-width */
    }
    header, section {
        margin-left: 20px;
        margin-right: 20px;
    }
}


/* custom CSS components */

.horizontal-bar {
    /* position: absolute; */
    height: 2px;       /* Set the height of the bar */
    margin-left: -5px;
    margin-top: -15px;
    margin-bottom: 15px;
}
